@import '../../../styles/palette';


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;

  div.button {
    width: 100%;
    text-align: center;

    .btn {
      margin: 50px auto;
      padding: 20px 100px;
      background-color: $color-red-primary;
      border: none;
      color: $font-color-light;
      text-transform: uppercase;
      font-weight: bold;
      transition: .2s;
  
      &:hover {
        background-color: $color-red-secondary;
        padding: 20px 130px;
      }
    }
  }
}