@import './reset';
@import './normalize/normalize';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700,900&display=swap');
@import './palette';

body {
  font-family: 'Montserrat', sans-serif;
  color: $font-color-dark;
}

.warning {
  background-color: red;
  padding: 20px 50px;
}

.success {
  background-color: green;
  padding: 20px 50px;
}