@import '../../../styles/palette';

.root {
  margin: 200px auto;
  max-width: 40vw;
  text-align: center;

  button {
    width: 100%;
    max-width: 330px;
    background-color: $color-red-primary;
    padding: 15px 20px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: .2s;

    &:hover {
      background-color: $color-red-secondary;
    }
  } 
}

@media(max-width: 604px){
  .root {
    max-width: 70vw;
  }
}