@import '../../../styles/palette';

.root {
  margin: 200px auto;
  max-width: 40vw;
  text-align: center;

  button {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    max-width: 330px;
    background-color: $color-red-primary;
    padding: 15px 20px 15px 0;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    transition: .2s;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $color-red-secondary;
    }

    i {
      margin-right: 30px;
      font-size: 30px;
    }
  } 
}

@media(max-width: 900px){
  .root {
    max-width: 80vw;

    button {
      margin: 0 auto;
      padding: 10px;
      
      i {
      margin-right: 10px;
    }
    }
  }
}
