@import '../../../styles/palette';

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.root {
  margin: 100px auto;
  max-width: 40vw;

  .error {
    margin-top: 10px;
    color: $color-red-primary;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }

  .success {
    color: white;
    background-color: green;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
  }


  form {
    text-align: center;
    width: 100%;
    
    div.input {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: stretch;
      align-items: center;
      margin-bottom: 40px;

  
      input, textarea {
        box-sizing: border-box;
        opacity: 1;
        position: static;
        width: 100%;
        height: 20px;
        border: none;
        border: 3px solid $color-dark;
        z-index: 1;
        padding: 10px;
        text-align: left;
        cursor: text;
        transition: .2s;
        height: 50px;

        &::placeholder {
          font-size: 14px;
          color: $color-dark;
          transition: .2s;
        }

        &:focus {
          box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.20);

          &::placeholder {
            opacity: 0;
          }
        }

        &:focus + label {
          font-weight: bold;
          font-size: 14px;
        }

        &:focus + label > p {
          opacity: 1;
        }

        &.danger {
          border-color: $color-red-primary;
          color: $color-red-primary;

          &::placeholder {
            color: $color-red-primary;
          }
        }
      }

      textarea {
        height: 200px;
      }

      label {
        position: absolute;
        top: -20px;
        left: 0;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: normal;
        text-align: left;
        transition: .2s;

        p {
          color: $color-red-primary;
          font-size: 12px;
          display: inline;
          font-weight: bold;
          opacity: 0;
          transition: .2s;
        }
      }

      .error {
        margin-top: 7px;
        color: $color-red-primary;
        font-size: 13px;
        font-weight: bold;
        width: 100%;
        text-align: left;
      }

      .img {
        width: 50%;
        margin: 30px auto;
        
        img {
          width: 100%;
        }
      }
    }

    input[type=submit]{
      margin: 0 auto;
      opacity: 1;
      position: static;
      background-color: $color-dark;
      height: 50px;
      width: 50%;
      text-align: center;
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      transition: .2s;
      border: none;

      &:hover {
        width: 55%;
      }
    }
  }
}

@media (max-width: 700px){
  .root {
    max-width: 80vw;
    margin: 100px auto 0;
  }
}

@media (max-width: 1200px){
  div.input {
    flex-direction: column;

    label {
      margin-bottom: 5px;
    }
   }
 }