@import '../../../styles/palette';

.root {
  position: relative;

  div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 40px;
      font-weight: bold;
    }

    p {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    a {
      background-color: $color-red-primary;
      padding: 10px 30px;
      margin-top: 40px;
      color: $font-color-light;
      text-transform: uppercase;
      font-weight: bold;
      transition: .2s;

      &:hover {
        background-color: $color-red-secondary;
      }
    }
  }
}